// .main {
//   height: 100vh;
//   &_background {
//     width: 100vw;
//     position: absolute;
//     background-image: url(../../assets/orig.jpeg);
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     filter: blur(7px) grayscale(50%);
//   }
//   &_button {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }
.main {
  &-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url(../../assets/image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px) grayscale(20%);
  }

  &-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
